img{
    size: 2em;
    height: 200px;
    width: 400px;
}
h1{
    grid: flex;
    float:left;
    flex-wrap: auto;
    width: 50%;
    width: 400px;
}
header{
    float: left;
    grid:flex;
    float:left;
    font-size: 12px;
}
body{
    display: grid;
    align-items: center;
    background-color: black;
    color: white;

}
a{
    color:red;
    background-color: white;
    box-shadow: yellow 2px;
    border: 2px solid;
    flex:auto;
    grid:auto;
    grid:flex;
    display: grid;
    grid: 20px 20px 20px;
    row-gap: 20px;
}
img {
    max-width: 100%;
    grid:auto;
    flex:auto;
    flex:grid;
    float:right;
}
h1 {
    align-items: center;
    align-content: center;
    align: center;
}
